@import '_colors';


$success-color: #0afd32f3;
$error-color: #eb0808;

.snackBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mat-icon{
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
    }
}




.success-snackbar .mat-icon {
    background:#eb0808;
    color: #0afd32f3
}
.error-snackbar .mat-icon {
    background-color: aqua;
    color: #eb0808
}

